.style-edit{
    margin-top: -14%;
    margin-left: 20%;
    color: black;
}

.style-logout{
    margin-top: -13%;
    margin-left: 20%;
    color: black;
}

.img-settings-style{
    margin-top: 10%;
    margin-left: -0%;
}
.img-logout-style{
    margin-left: 2%;
    margin-top: 12%;
}
