body{
    background: #00ffff
    
}
.fundo-escuro{
    position: absolute;
    background-color: #29abe2;
    width: 70%;
    height: 100%;
    left: 0%;
    top: 0%;
}
.back-point{
    display: flex;
    max-width: 8%;
    min-width: 4%;
    max-height: 8%;
    min-height: 4%;
    text-align: left;
    transform: translate(-200%, 20%);
}
.login{
    position: absolute;
    max-width: 28%;
    width: 27%;
    min-width: 28%;
    height: 50%;
    top: 40%;
    left: 90%;
    background: #ffffff;
    color: black;
    transform: translate(-40%, -20%);
    border-radius: 0.4em;
    padding-left: 4rem;
    padding-right: 4rem;
    text-align: center;
}
input{
    outline: none;
}
.usuario-text{
    display: flex;
    margin-left: 14%;
    font-size: 90%;
    margin-top: 30%;
   
}
.input-usuario{
    height: 7%;
    width: 70%;
    
}
.senha-text{
    display: flex;
    margin-left: 14%;
    font-size: 90%;
}
.input-senha{
    height: 7%;
    width: 70%;
    
}
.realize-text{
    max-width: 100%;
    width: 100%;
    min-width: 20%;
    font-size: 180%;
    margin-bottom: 0%;
    margin-top: 0%;
    
}
.botao-entrar{
    margin-top: 10%;
    min-width: 30%;
    min-height: 9%;

}
.botao-entrar:active{
    margin-top: 10%;
    min-width: 30%;
    min-height: 9%;
    background: #00ffff;

}
.esqueci-senha{
    
    color: black;
    font-size: 0.9rem;
    min-width: 100%;
    margin-top: 10%;
    margin-bottom: 0;
}
