#register-page{
    background-color: #7a247d;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
#cadastre-se{
    font-size: 250%;
    margin-bottom: 5%;
    margin-top: 0%;
}
.register{
    position: absolute;
    width: 30%;
    min-width: 20%;
    height: 80%;
    top: 50%;
    left: 50%;
    background: #f5c661;
    color: black;
    transform: translate(-50%, -50%);
    border-radius: 0.4em;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    border: 1px solid #FF7E61;
}
.back-point-register{
    display: flex;
    max-width: 6%;
    min-width: 5%;
    max-height: 6%;
    min-height: 5%;
    margin-top: 2%;
    margin-left: -3%;
}
.input-nome{
    width: 33%;
    height: 3.5%;
    margin-left: 0%;
    border: 1px solid #ff7e61;
    margin-bottom: 1%;
}
.input-sobrenome{
    width: 32%;
    height: 3.5%;
    margin-left: 3%;
    border: 1px solid #FF7E61;
}
.input-cadastro-senha{
    width: 32.5%;
    height: 4%;
    margin-left: 0%;
    border: 1px solid #FF7E61;
    
}

.input-confirmar-senha{
    width: 32.5%;
    height: 4%;
    margin-left: 3%;
    border: 1px solid #FF7E61;
}
.input-endereco{
    border: 1px solid #FF7E61;
    display: flex;
    width: 70%;
    height: 4%;
    margin-left: 15%;
    margin-bottom: -2%;
}
.input-cep{
    border: 1px solid #FF7E61;
    width: 27%;
    height: 3.9%;
    margin-left: 0%;
}
.input-complemento{
    width: 38%;
    height: 4%;
    margin-left: 3%;
    border: 1px solid #FF7E61;
}
.input-rua{
    border: 1px solid #FF7E61;
    width: 27%;
    height: 3.9%;
    margin-left: 0%;
}
.input-numero{
    width: 38%;
    height: 4%;
    margin-left: 3%;
    border: 1px solid #FF7E61;
}
#input{
    height: 4%;
    width: 70%;
    margin-top: 0%;
    margin-bottom: 1%;
    border: 1px solid #FF7E61;
    box-sizing: border-box;
}
.labels{
    display: flex;
    font-size: 90%;
    margin-left: 15%;
    margin-bottom: -2.5%;
    margin-top:2%;
}
.labels-2{
    display: flex;
    font-size: 90%;
    margin-left: 15%;
    margin-bottom: -2.5%;
    margin-top: 2%;
}
.labels-confirmar-senha{
    font-size: 90%;
    margin-left: 25%; 
}
.label-usuario{
    display: flex;
    font-size: 90%;
    margin-left: 15%;
    margin-bottom: -2.5%;
    margin-top: 0%;
}
.label-complemento{
    font-size: 90%;
    margin-left: 8%; 
}
.label-rua{
    font-size: 90%;
    margin-left: -3%; 
}

#user-type{
    display: flex;
    width: 40%;
    height: 4%;
    text-align: left;
    margin-left: 15%;
    border: 1px solid #FF7E61;
    margin-bottom: 3%;
}
.input-data{
    border: 1px solid #FF7E61;
    width: 39%;
    height: 4.2%;
    text-align: left;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 3%;
}

#telefone{
    font-size: 90%;
    margin-left: 25%;
    margin-bottom: 0;
}
.input-telefone{
    border: 1px solid #FF7E61;
    width: 27%;
    height: 3.9%;
}

.label-sobrenome{
    font-size: 90%;
    margin-left: 17%;
}
#botao-cadastrar{
    margin-top: 8%;
    min-width: 22%;
    min-height: 4.5%;
    background: #ff7e61;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#botao-cadastrar:hover{
    background: #f76a4a;
}
#botao-cadastrar:active{
    background: #7a247d;
}
