button{
    width: 100px;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    border: 1px solid #29abe2;
    cursor: pointer;
    color: #29abe2;
}
button:hover{
    border: 1px solid #fff;
    background-color: #29abe2;
    color: #fff;
}
