button{
    max-width: 100px;
    min-width: 50px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f5c661 ;
}
button:hover{
    background-color: #dba124;
}
