button{
    background: #ff7e61;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    border-radius: 0;
    color: #000000;
    cursor: pointer;
}
button:hover{
    background: #df6145;
}
button:active{
    background: #7A247D;
}