.home {
    position: absolute;
    background-color: #7a247d;
    left: 0;
    top: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    
}

.main-home {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.h1-home {
    font-size: 48px;
    text-align: center;
    color: #fafafa;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 3%;
}

.p1-home {
    text-align: center;
    color: #fafafa;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}

.display-cards-home {
    display: flex;
}

.display-cards-home div {
    margin: 15px;
}

.hr-home {
    background-color: #c3c3c3;
    width: 100%;
    height: 2px;
    border: none;
}