.home {
    position: absolute;
    background-color: #7a247d;
    left: 0;
    top: 0;
    width: 100%;
    height: 285px;
}

.main-home {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.h1-home {
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.p1-home {
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.display-cards-home {
    display: flex;
}

.hr-home {
    background-color: #c3c3c3;
    width: 900px;
    height: 2px;
    border: none;
    margin: 100px 0;
    background-color: cyan;
}

.h3-home {
    color: #29ABE2;
    font-size: 24px;
    font-weight: 400;
}

.cards-restaurant-group-home {
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}