* {
    font-family: 'Roboto', sans-serif;
}

nav {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

li {
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #29abe2;
}

a:hover {
    color: #f5c661;
}

img {
    width: 77px;
    height: 50px;
}