.header-home-page {
    font-family: 'Roboto', sans-serif;
    height: 63px;
    padding-top: 8px;
}

.header-nav-home-page {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-nav-menu-home-page {
    display: flex;
    align-items: center;
}

.header-nav-menu-home-page li a {
    color: #f5c661;
    padding-left: 30px;
    text-decoration: none;
}

.header-nav-menu-home-page li a:hover {
    text-decoration: underline;
}